body{
  font: Lato, Sans-serif;
}

.image-search{
  margin: 10px;
  text-align: center;
}

.header{
  text-align: center;
}

.search-bar{
  border-style: solid;
  border-color: #666;
  padding: 6px 25px 6px 25px;
  font: bold 18px Arial, Helvetica, Sans-serif;
}

.image-gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.image-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px 2px 1px 2px;
}

@keyframes hover-gradient{
  0% { opacity: 1; }
  100% { opacity: .78; }
}

.image-item:hover{
  animation: hover-gradient .5s;
  cursor: zoom-in;
  opacity: .78;
}

.image-item > a{
  text-align: center;
  font: Sans-serif;
}

.unsplash-attribution{
  text-align: center;
  font-style: bold;
  font-size: 14px;
}

.attribution{
  display: inline;
  font-style: italic;
  font-size: 12px;
}

.page-picker{
  display: flex;
  justify-content: center;
}

.page-picker > button{
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #0d5287;
  color: white;
  font-size: 22px;
}

.page-picker > button:hover {
  background-color: #0585e8;
}

.image-viewer{
  text-align: center;
}

.image-viewer > button{
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #0d5287;
  color: white;
  font-size: 18px;
}

.image-viewer > button:hover{
  cursor: pointer;
    background-color: #0585e8;

}


