body{
  font: Lato, Sans-serif;
}

.image-search{
  margin: 10px;
  text-align: center;
}

.header{
  text-align: center;
}

.search-bar{
  border-style: solid;
  border-color: #666;
  padding: 6px 25px 6px 25px;
  font: bold 12px Arial, Helvetica, Sans-serif;
}

.image-gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.image-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px 2px 1px 2px;
}

.image-item > a{
  text-align: center;
  font: Sans-serif;
}

.unsplash-attribution{
  text-align: center;
  font-style: bold;
  font-size: 14px;
}

.attribution{
  display: inline;
  font-style: italic;
  font-size: 12px;
}